.expenseItem {
    width: 900px;
    display: block;
    margin: 0 auto;
}

.items {
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding: 24px 20px;
    border-radius: 10px;
    box-shadow: 0 3px 2px 0 rgba(255, 255, 255, 0.06);
}

.itemsname {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
}

.price {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.addtocart {
    background-color: #8a2b06;
    border: 1px solid #8a2b06;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    transition: .3s;
    cursor: pointer;
    font-weight: 600;
}

.addtocart:hover {
    background-color: #732101;
}
